html, body {
    height: 98%;
    width: 100;
    font-family: sans-serif;
    line-height: 1.15;
    background-color: #F8FAFB;
}

html {
    border-top: #3266ff 4px solid;
}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

#custom-button:hover {
    background-color: blue
}

#custom-text {
    margin-left: 10px;
    color: #aaa;
}

.textArea {
    border: 2px solid ;
}

image {
    vertical-align: middle;
}

li {
    list-style: none;
    margin: 5px;
    margin-left: 30px;
    margin-top: 2px;
    padding: 3px;
    border-radius: 34px;
    font-weight: bolder;
    font-size: 12px;
    line-height: 18.858px;
    width: 94px;
    height: 31px;
    border: olive solid 1px;
    position: relative;
}

li:hover {
    background-color: #5c8aff;
    color: white;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 15px;
    height: 8.625px;
    position: relative;
    bottom: 20px;
}

nav>div:nth-child(2) {
    position: relative;
    right: 18%;
}

.pivotInner {
    display: flex;
    align-items: center;
    padding: 6px 12px;
}

.navigationBar {
    display: flex;
    padding: 10px 30px;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
    margin: 15px 1%;
    border-radius: 8px;
}

#HisLogo {
    box-sizing: border-box;
    cursor: pointer;
    height: 23px;
    width: 146px;
    vertical-align: baseline;
    float: left;
}

#userLogo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#fileInputAndOutput {
    height: 87%;
    padding: 20px;
    margin: 0px 1% 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.01);
    background-color: white;
}

.textArea {
    height: 90%;
    width: 49%;
    margin-top: 10px;
    margin-left: 5px;
} 


.navPivotPicture {
    height: 20px;
    width: 20px;
}

.content {
    width: 48px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

#userInfo {
    display: flex;
    width: 160px;
    height: 40px;
}

#userInfo >:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 100px;
}

#userInfo >:nth-child(2) {
    padding-left: 13px;
    float: right;
}

.userInfoSpan {
    width: 50px;
    height: 18px;
    box-sizing: border-box;
    line-height: 18.858px;
}